#container {
  text-align: center;

  position: fixed;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#clase1{
  margin-top: 15px;
  margin-bottom: 10px;

}

#container a {
  text-decoration: none;
}